body {
  box-sizing: border-box;
     background-image: url("./img.jpg");
}


button {
  font-size: 40px;
}


.upper-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.middle-div {
  display: flex;
  flex-direction: column;

}

input {
  font-size: 40px;
}
